

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/*
basic text color : 0fc900 (bright green)
light text color : 6dff4b (lighter green?)
low contrast (dark) text color : #171717 (gris très foncé)
grey : (un gris très pâle et un gris moyen)
peut être un bleu pour les highlights? ou orange si wild

background : noir, peut-être gris/texturé pour des sections
boutons en vert contrastant qui fitte dans la palette

couleurs de travail : gris foncé #171717, gris pâle #969696
 */

 /*
 pixel operator :
ref : https://fontlibrary.org/en/font/pixel-operator
Standard : PixelOperatorRegular
Standard bold : PixelOperatorBold
Autre forme de bold : PixelOperatorHBRegular
Mono (texte plus espacé) :PixelOperatorMonoRegular
Même chose mais bold : PixelOperatorMonoHBRegular
Texte ++ espacé : PixelOperatorMono8Regular

Standard petites majuscules : PixelOperatorSCRegular
Petites majuscules bold : PixelOperatorHBSCRegular

  */

  ::selection {
      color: white;
      background: #0fc900;
    }


html {
  font-size: 20px;
}

body {
  background-color: black;
  color : #0fc900;
  font-family: 'PixelOperatorRegular';
  line spacing : 2rem;
}

main {
  padding: 0 5% 5%;
  max-width: 2000px;
  margin: auto;
}

.paddingtop {
  padding-top: 3rem;
}

img {
  width: 100%;
  border: 1px solid #0fc900;
  display: block;
  margin: auto;
}


/* ********************** text styles */

a {
  color : #0fc900;
  text-decoration: none;
  font-family: 'PixelOperatorMonoHBRegular';
}

a:hover{
  color : #6dff4b;
}

.current a {
  color : #6dff4b;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1 {
  font-size: 2.25rem;
  font-family: 'PixelOperatorMonoHBRegular';
  padding: 2rem;
}

h2 {
  font-size: 2rem;
  font-family: 'PixelOperatorMonoHBRegular';
  padding : 3%;
}

h3 {
  font-size: 1.5rem;
  padding : 2%;
}

h4 {
  font-size: 1.25rem;
  padding : 1%;
}

p {
  padding : 1%;
}

.rightAll {
  text-align: right;
}

.leftAll {
  text-align: left;
}

.center {
  text-align: center;
}

.underline {
  border-bottom: 1px dotted #0fc900;
}

.tab {
  padding-left: 7rem;
}

.halftab {
  padding-left: 1rem;
}

.out {
  text-decoration: line-through;
}

/* ************forms et boutons */

label {
  font-family: 'PixelOperatorMonoHBRegular';
  font-size: 1.25rem;
  display: inline-block;
  padding-left: 5%;
}

input, textarea {
  background-color: #6dff4b;
  border: none;
  resize : vertical;
}

input {
  height: 1.25rem;
  width: 50%;
}

textarea {
  width: 90%;
  display: block;
  margin:auto;
}

.formLine {
  padding-top: 0.5rem;
  width: 100%;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus{
  outline : none;
  border: 2px solid #0fc900;
}


input[type=submit]{
  background-color: #0fc900;
  font-family: 'PixelOperatorMonoHBRegular';
  font-size: 1.25rem;
  height: 1.5rem;
  width: 8rem;
  display: block;
  margin: auto;
}

input[type=submit]:hover{
  background-color: #6dff4b;
}


/******************************************
/* LAYOUT
/*******************************************/

/* *********************header */


#header {
  background-image: url("banner2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

#header h1 {
  padding: 2.5rem 5%;
}

nav {
  padding : 0.5rem 5% 1.5rem 5%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav li {
  text-align: center;
  font-size: 1.5rem;
  padding-left: 5%;
}



/* couleurs et contraste : revoir à la fin */

/* ********************** footer */

footer {
  background-color: #171717;
  padding: 2% 5%;
  background-image: url("footer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

footer ul {
  padding-top: 1.5rem;
}





/* ******************GRID */

.grid-container {
  display : grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap : 1.5rem;
}

.grid-container-hor {
  display : grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap : 1.5rem;
}


/* ***************** flexbox */

.flex-container {
  display: flex;
  flex-direction : row;
  justify-content: space-between;
  column-gap: 2rem;
  align-items: center;
}



.flex-1 {
  flex: 1;
  align-self: center;
}

.flex-2 {
  flex : 2;
  align-self: center;
}

.flex-3 {
  flex: 3;
  align-self: center;
}

.round {
  max-height: 400px;
  max-width: 400px;
  margin: auto;
  border-radius: 200px;
  border : none;
}


/* ***********autres */
.poeme {
  display: block;
  margin: auto;
  font-size: 1.5rem;
}
/* pourquoi ça marche pas?? */
.web {
  width: 50%;
  margin-left: 50%;
}

.half {
  width: 50%;
  display: block;
  margin: auto;
}

/*
autre trucs de layout à faire :

-relire pour best practices/clean up
-reformat/choix/taille image méduso
-media queries index (3 tailles)
-photo et texte apocalypse
-choix photos gallerie en bas

ensuite :
-page anglais (exactement la même chose mais en anglais)
-page Infos (écrire textes, layout semblable mais adapté)
etc

 */



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* media queries */

@media all and (max-width: 850px) {

  .hidden {
    display: none;
  }

  .grid-container {
    display : grid;
    grid-template-columns: 1fr 1fr;
    gap : 1.5rem;
  }

  .noFlexWhenSmall {
    display : block;
  }

  .half {
    width: 100%;
  }

  #header h1{
    max-width: 20rem;
    margin: auto 0 auto auto;
  }

  .infos img {
    margin-top: 2rem;
  }

  .round{
    margin-top: 2rem;
  }

  header {

  }

  footer {

  }
}



@media all and (max-width: 480px) {

  .hidden2 {
    display: none;
  }

  .grid-container {
    display : grid;
    grid-template-columns: 1fr;
    gap : 1.5rem;
  }

  h2 {
    text-align: center;
  }

  #header h1 {
    padding : 1rem 5%;
  }

  nav{
    padding: 0rem 5% 0.5rem 5%;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .web {
    width: 85%;
    margin-left: 15%;
  }



/* vérifier que ça marche sur un vrai petit écran de cell */


}
