

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

/*
basic text color : 0fc900 (bright green)
light text color : 6dff4b (lighter green?)
low contrast (dark) text color : #171717 (gris très foncé)
 */

 /*
pixel operator cheat sheet :
ref : https://fontlibrary.org/en/font/pixel-operator
Standard : PixelOperatorRegular
Standard bold : PixelOperatorBold
Autre forme de bold : PixelOperatorHBRegular
Mono (texte plus espacé) :PixelOperatorMonoRegular
Même chose mais bold : PixelOperatorMonoHBRegular
Texte ++ espacé : PixelOperatorMono8Regular
Standard petites majuscules : PixelOperatorSCRegular
Petites majuscules bold : PixelOperatorHBSCRegular
  */

::selection {
    color: white;
    background: #0fc900;
  }

html {
  font-size: 20px;
  min-height: 100%;
  cursor: url("cursorsmall.svg"), default;
}
/* fix cursor file so that it works */

body {
  background-color: black;
  color : #0fc900;
  font-family: 'PixelOperatorRegular', 'Courier New', monospace;
  line spacing : 2rem;
}

main {
  padding: 0 5% 5%;
  max-width: 2000px;
  margin: auto;
}

img {
  width: 100%;
  border: 2px groove #0fc900;
  display: block;
  margin: auto;
  /* max-width: 550px;
  max-height: 550px; */
}

.clicktoenlarge:hover {
  box-shadow: 0 0 7px #0fc900;
}

.padding-top {
  padding-top: 4rem;
}


/******************************************
/* TEXT STYLES
/*******************************************/

a {
  color : #0fc900;
  text-decoration: none;
  font-family: 'PixelOperatorMonoHBRegular', 'Courier New', monospace;
}

a:hover{
  color : #6dff4b;
  text-decoration: line-through;
}

.current a {
  color : #6dff4b;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1 {
  font-size: 2.25rem;
  font-family: 'PixelOperatorMonoHBRegular', 'Courier New', monospace;
  padding: 2rem;
}

h1 a:hover {
  text-decoration: none;
  color: #0fc900;
}

h2 {
  font-size: 2rem;
  font-family: 'PixelOperatorMonoHBRegular', 'Courier New', monospace;
  padding : 3%;
}

h3 {
  font-size: 1.5rem;
  padding : 2%;
}

h4 {
  font-size: 1.25rem;
  padding : 1%;
}

p {
  padding : 1%;
}

.right-all {
  text-align: right;
}

.center {
  text-align: center;
}

.underline {
  border-bottom: 1px dotted #0fc900;
}

.tab {
  padding-left: 7rem;
}

.halftab {
  padding-left: 1rem;
}

.sold-out {
  text-decoration: line-through;
}


/******************************************
/* FORM
/*******************************************/

label {
  font-family: 'PixelOperatorMonoHBRegular', 'Courier New', monospace;
  font-size: 1.25rem;
  display: inline-block;
  padding-left: 5%;
}

input, textarea {
  background-color: #6dff4b;
  border: none;
  resize : vertical;
}

input {
  height: 1.25rem;
  width: 50%;
}

textarea {
  width: 90%;
  display: block;
  margin:auto;
}

.form-line {
  padding-top: 0.5rem;
  width: 100%;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus{
  outline : none;
  border: 2px solid #0fc900;
}


input[type=submit]{
  background-color: #0fc900;
  font-family: 'PixelOperatorMonoHBRegular', 'Courier New', monospace;
  font-size: 1.25rem;
  height: 1.5rem;
  width: 8rem;
  display: block;
  margin: auto;
}

input[type=submit]:hover{
  background-color: #6dff4b;
}


/******************************************
/* LAYOUT
/*******************************************/


/* HEADER AND NAV */


#header {
  background-image: url("banner2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

#header h1 {
  padding: 2.5rem 5%;
}

nav {
  padding : 0.5rem 5% 1.5rem 5%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav li {
  text-align: center;
  font-size: 1.5rem;
  padding-left: 5%;
}



/* FOOTER */

footer {
  background-color: #171717;
  padding: 2% 5%;
  background-image: url("footer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

footer ul {
  padding-top: 1.5rem;
}


/* GRID (SHOP GALLERY) */

.grid-container {
  display : grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap : 1.5rem;
}

.grid-container-hor {
  display : grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap : 1.5rem;
}


/* FLEXBOX */

.flex-container {
  display: flex;
  flex-direction : row;
  justify-content: space-between;
  column-gap: 2rem;
  align-items: center;
}

.flex-1 {
  flex: 1;
  align-self: center;
}

.flex-2 {
  flex : 2;
  align-self: center;
}

.flex-3 {
  flex: 3;
  align-self: center;
}

.round {
  max-height: 400px;
  max-width: 400px;
  margin: auto;
  border-radius: 200px;
  border : none;
}


/* MISC? */

.poeme {
  display: block;
  margin: auto;
  font-size: 1.5rem;
}

.web {
  width: 60%;
  margin-left: 40%;
}

.half {
  width: 50%;
  display: block;
  margin: auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* MEDIA QUERIES */

/* tablet */
@media all and (max-width: 850px) {

  .hidden {
    display: none;
  }

  .grid-container {
    display : grid;
    grid-template-columns: 1fr 1fr;
    gap : 1.5rem;
  }

  .no-flex-when-small {
    display : block;
  }

  .half {
    width: 100%;
  }

  #header h1{
    max-width: 20rem;
    margin: auto 0 auto auto;
  }

  .infos img {
    margin-top: 2rem;
  }

  .round{
    margin-top: 2rem;
  }

}


/* phone */
@media all and (max-width: 480px) {

  .hidden2 {
    display: none;
  }

  .grid-container {
    display : grid;
    grid-template-columns: 1fr;
    gap : 1.5rem;
  }

  h2 {
    text-align: center;
  }

  #header h1 {
    padding : 1rem 5%;
  }

  nav{
    padding: 0rem 5% 0.5rem 5%;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .web {
    width: 85%;
    margin-left: 15%;
  }
}
